* {
  margin: 0px;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  background: radial-gradient(circle, #e100ff, #7f00ff);
  min-width: 1300px;
  min-height: 700px;
  overflow: auto;
}

canvas {
  background: #fff;
  border-radius: 40px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
  display: flex;
  justify-content: center;
  margin: 32px auto;
  padding: 16px;
}

input {
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
}

.menu {
  background: #fff;
  border-radius: 16px;
  width: 400px;
  height: 95%;
  margin: 16px;
  overflow-y: auto;
}

.menu-content {
  margin: 24px;
  text-align: center;
}

.menu-content-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-content-group {
  margin-bottom: 30px;
  border: 5px solid rgba(85, 91, 255, 0.4);
  border-radius: 7px;
  padding: 5px;
  background-color: rgba(85, 91, 255, 0.3);
}

.menu-content-button-group {
  border-radius: 5px;
  margin: 5px;
  width: 65px;
  height: 30px;
  background-color:rgb(60, 253, 237);
}

.menu-content-start-stop-group {
  border-radius: 5px;
  margin: 5px;
  width: 145px;
  height: 30px;
  background-color: rgb(125, 255, 85);
}

.menu-content-slider-group {
  appearance: none;
  width: 190px;
  height: 6px;
  background-color: rgb(183, 0, 255);
  outline: none;
  opacity: 0.7;
}

.menu-content-dropdown-group {
  margin: 5px;
  width: 145px;
  height: 30px;
  background-color:rgb(255, 85, 127);
  color: #fff;
  padding-left: 5px;
}

.menu-content-colorpicker-group {
  border: none;
  border-radius: 5px;
  background: none;
  padding: 0;
  margin: 5px;
  width: 100px;
  height: 30px;
}

.menu-content-label-group {
  font-size: smaller;
  margin: 5px;
}

.textbox {
  width: 30px;
  background-color: rgb(148, 34, 255);
  color: white;
  margin: 5px;
}

.menu-content-button-group:hover {
  background-color:rgb(19, 161, 255);
  cursor: pointer;
}

.menu-content-button-group:disabled {
  background-color: grey;
}

.menu-content-start-stop-group:hover {
  background-color:rgb(48, 224, 101);
  cursor: pointer;
}

.menu-content-slider-group:hover {
  background-color: #7f00ff;
  cursor: pointer;
  opacity: 1.0;
}

.menu-content-slider-group:disabled {
  background-color: grey;
}

.menu-content-colorpicker-group::-webkit-color-swatch-wrapper {
  padding: 0;
}

.menu-content-colorpicker-group::-webkit-color-swatch {
  border-radius: 5px;
}

.menu-content-colorpicker-group:hover {
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
